*
{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.Name{
    background-color:  #BAC8E0;
}

.header{
    width: 100%;
    position: fixed;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em 0;
    color: darkblue;
}

.headerNav{
    margin-left: 90PX;
}

.navbar {
    border-bottom: 1px solid #d1d3d5;
    
}

.navbar .container {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
}

div.container{
    height:100px;
}

.navbar a {
    display: block;
    padding: .5em;
    
}

.navbar-nav {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding-right: 320px;
}

.navbar-nav .nav-item{
    margin: 0 .5em;
    padding-right: 80px;
}

.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    color: floralwhite;
    font-weight:700;
    text-transform:uppercase;
}

a:hover{
    color:darkblue;
}


.header-image{
    height: 75px;
    padding-top: 20px;
    padding-left: 20px;
}

.header4{
    text-align: center;
    padding-top: 200px;
    font-size: x-large;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-size: 2ch;
}

.row{
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
}

.body-image{
    padding-top: 30px;
    padding-bottom: 30px;
}

figcaption{
    text-align: center;
}

footer{
    background-color: #eeeeeee8;
    margin-top: 60px;
    padding-bottom: 5px;
    text-align: left;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

footer p{
    padding-left: 55px;
}